<div id="title_about" class="half-height-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-8 col-xs-offset-1">
        <h1>L'équipe</h1>
        <p>EN PLUS DE SES COMPÉTENCES EN DÉVELOPPEMENT, CHAQUE MEMBRE DE L'ÉQUIPE À DE NOMBREUSES ANNÉES D'EXPÉRIENCE EN <span class="highlight">GESTION DE PROJET TECHNOLOGIQUES</span>.</p>
        <p>CELA NOUS A PERMIS DE DÉVELOPPER UNE MÉTHODOLOGIE AU PLUS PRÈS DES BESOINS DES <span class="highlight">PORTEURS DE PROJET INNOVANTS</span>.</p>
      </div>
    </div>
  </div>
</div>
