<div id="title_about" class="full-height-page">
  <div>
    <h1>L'équipe</h1>
    <p>EN PLUS DE SES COMPÉTENCES DE DÉVELOPPEUR, CHAQUE MEMBRE DE L'ÉQUIPE À DE NOMBREUSES ANNÉES
    D'EXPÉRIENCE EN <span class="highlight">GESTION DE PROJET TECHNOLOGIQUES</span>.</p>
    <p>CELA NOUS A PERMIS DE DÉVELOPPER UNE MÉTHODOLOGIE AU PLUS PRÈS DES BESOINS DES <span class="highlight">PORTEURS DE PROJET INNOVANTS</span>.</p>
  </div>
</div>
