<div id="title_about" class="half-height-page uppercasing">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-8 col-xs-offset-1">
        <h1>L'équipe</h1>
        <p>En plus de ses compétences en développement, chaque membre de l'équipe a </br>de nombreuses années d'expérience en <span class="highlight">gestion de projets technologiques</span>.</p>
        <p>Cela a permis à notre équipe de développer une méthodologie au plus près des besoins des <span class="highlight">porteurs de projet innovants</span>.</p>
      </div>
    </div>
  </div>
</div>

