<h1>A propos de notre équipe</h1>
<p>En plus des compétences de développeur, chaque membre de l'équipe à de nombreuses années d'expériences en gestion de projet technologiques dans de nombreux domaines. Ces expériences passées nous ont permis de proposer une méthodologie au plus près des besoins des porteurs de projet innovants.</p>
