<div id="title_about" class="full-height-page">
  <div>
    <h1>L'équipe</h1>
    <p>EN PLUS DE SES COMPÉTENCES DE DÉVELOPPEUR, CHAQUE MEMBRE DE L'ÉQUIPE À DE NOMBREUSES ANNÉES
    D'EXPÉRIENCE EN GESTION DE PROJET TECHNOLOGIQUES.</p>
    <p>CELA NOUS A PERMIS DE DÉVELOPPER UNE MÉTHODOLOGIE AU PLUS PRÈS DES BESOINS DES PORTEURS DE
    PROJET INNOVANTS.</p>
  </div>
</div>
