<div id="title_contact" class="full-height-page background-color-strong">
  <div>
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-11 col-xs-offset-1">
      <h1>CONTACT</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-md-5 col-xs-offset-1">
        <p>UK + INTERNATIONAL:</p>
      </div>
      <div class="col-xs-4 col-md-4 col-xs-offset-1 col-md-offset-2">
        <p>+44 7 511 269 800</p>
        <p><%= mail_to "LAURA@CODEPLUSCOFFEE.COM"%></p>
      </div>
    </div>
    <p></br></p>
    <div class="row">
      <div class="col-md-5 col-xs-offset-1">
        <p>FRANCE:</p>
      </div>
      <div class="col-xs-4 col-md-4 col-xs-offset-1 col-md-offset-2">
        <p>+33 6 39 19 96 55</p>
        <p><%= mail_to "HUGO@CODEPLUSCOFFEE.COM"%></p>
      </div>
    </div>
  </div>
</div>

<!-- The div below closes the container-fluid div opened in the landingpage section -->

