<div class="container-fluid container-padding">
    <div class="row">
      <div class="col-xs-8">
        <div class="full-height-page horizontal-center">
          <div class="landingpage">
            <h1>CODE + COFFEE =</h1>
            <h2>TWO SIMPLE ELEMENTS TO <span class="highlight">BUILD YOU AWESOME WEBSITES</span></h2>
            <p class="text-center ">
            <a class="btn btn-primary" id="landinpage-btn" role="button">COFFEE? WHY COFFEE?</a></p>
        </div>
      </div>
    </div>
  </div>

