
<div id="animate">
  <!-- Creates a frame inside of the page, that calls an html page -->
  <iframe src="../p5/index.html" frameborder="0" scrolling="no" style="width: 100%; height: 100%;"></iframe>
 </div>

<div id="contenu" class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="full-height-page ">
          <div class="landingpage">

            <div class="device-small"> <!-- to make the canvas responsive -->
              <h1>CODE +</br>COFFEE </br>=</h1>
              <h2>TWO SIMPLE ELEMENTS TO </br><span class="highlight">BUILD YOU AWESOME WEBSITES</span></h2>
              <p class="text-center ">
              <a class="btn btn-primary" id="landinpage-btn" role="button">COFFEE? WHY COFFEE?</a></p>
            </div>

            <div class="device-large horizontal-center"> <!-- to make the canvas responsive -->
              <div>
                <h1>CODE + COFFEE =</h1>
                <h2>TWO SIMPLE ELEMENTS TO <span class="highlight">BUILD YOU AWESOME WEBSITES</span></h2>
              </div>
              <div>

              </div>
              <p class="text-center ">
              <a class="btn btn-primary" id="landingpage-btn" role="button">COFFEE? WHY COFFEE?</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
