<% list_name_buttons = ["have a coffee with us","what?", "how?", "team", "contact"] %>

<% list_buttons = ["solution","process", "philo", "about", "contact"] %>

<% button_number = 0 %>

<div class="footer-navbar-container navbar-fixed flex-end">
  <div class="device-small">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle fa-3x" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% list_buttons.each do |button| %>
      <button class="no-btn-decoration-mobile" id=<%="navbar_btn_#{button}" %>><%=list_name_buttons[button_number].upcase%></button><br>
      <% button_number += 1 %>
    <% end %>
      </ul>
    </div>
  </div>

<% button_number = 0 %>
  <div class="device-large">
    <% list_buttons.each do |button| %>
      <button class="no-btn-decoration" id=<%="navbar_btn_#{button}" %>><%=list_name_buttons[button_number].upcase%></button>
      <% button_number += 1 %>
    <% end %>
  </div>
</div>
