<div class="full-height-page background-color-strong" id="title_philo">
  <div class = "container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h1>Travailler avec nous, c'est</h1>
        </div>
        <div class="col-xs-10 col-sm-5  col-md-3 col-xs-offset-1">
          <div class="philo-card">
            <h2>S'assurer de la qualité finale</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Définition précise de votre cahier des charges fonctionnel</p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Réalisation du cahier des charges technique et des spécifications techniques du besoin</p>
          </div>
        </div>
        <div class="col-xs-10 col-sm-5 col-md-3 col-xs-offset-1 col-sm-offset-0">
          <div class="philo-card">
            <h2>Maitriser votre budget</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Accompagnement découpé en modules</p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Facturation par phase</p>
          </div>
        </div>
        <div class="col-xs-10 col-sm-5  col-md-3 col-xs-offset-1 col-sm-offset-0">
          <div class="philo-card">
            <h2>Maitriser les délais</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Réalisation d'un planning précis</p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Points d'avancement réguliers</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-sm-5  col-md-3 col-xs-offset-1">
          <div class="philo-card">
            <h2>Apporter rapidement une vraie valeur ajoutée à vos clients</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Définir les fonctions constituant le minimum viable</p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Développer en priorité ces fonctions pour tester rapidement le retour auprès de vos clients</p>
          </div>
        </div>
        <div class="col-xs-10 col-sm-5 col-md-3 col-xs-offset-1 col-sm-offset-0">
          <div class="philo-card">
            <h2>Sans engagement</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Vous êtes libre d'évaluer la prestation à la fin de chaque phase</p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  A chaque étape, vous disposez d'un livrable concret et réutilisable</p>
          </div>
        </div>
        <div class="col-xs-10 col-sm-5  col-md-3 col-xs-offset-1 col-sm-offset-0">
          <div class="philo-card">
            <h2>Tester votre projet en continu et brique par brique</h2>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Décomposer votre projet en briques élémentaires</p>
            <p><i class="fa fa-check" aria-hidden="true"></i>  Déploiement continu des briques de développement</p>
          </div>
        </div>
    </div>
    <div class="flexbox">
      <div class="picto-center"></div>
      <i class="fa fa-angle-down fa-3x text-center" aria-hidden="true"></i>
      <div class="picto-center"></div>
    </div>
  </div>
</div>

