<h1 id="title_philo">Our philosophy</h1>
<ul><li><p>Définir précisément votre projet avant de débuter la réalisation afin de n'avoir aucune incertitude sur le rendu final</p></li>
<li><p>Segmenter au maxium pour </p></li>
<li><p>Développer par importance de valeur afin que vous puissiez tester au plus vite votre proposition de valeur auprès de vos clients</p></li>
<li><p>Développer en continu votre projet pour que vous testiez au plus vite les fonctionnalités</p></li></ul>
