<h1 id="title_philo">Travailler avec nous, c'est</h1>


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="philo-card">
        <h2>S'assurer de la qualité finale</h2>
        <p>Définition précise de votre cahier des charges fonctionnel</p>
        <p>Réalisation du cahier des charges technique et des spécifications techniques du besoin</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="philo-card">
        <h2>Maitriser votre budget</h2>
        <p>Accompagnement découpé en modules</p>
        <p>Facturation par phase</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="philo-card">
        <h2>Maitriser les délais</h2>
        <p>Réalisation d'un planning précis</p>
        <p>Points d'avancement réguliers</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="philo-card">
        <h2>Apporter rapidement une vrai valeur ajoutée à vos clients</h2>
        <p>Définir les fonctions constituant le minimum viable</p>
        <p>Développer en priorité ces fonctions pour tester rapidement le retour auprès de vos clients final</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="philo-card">
        <h2>Sans engagement</h2>
        <p>A chaque étape, disposez d'un livrable concret et réutilisable</p>
        <p>Vous êtes libre d'évaluer la prestation à la fin de chaque phase</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="philo-card">
        <h2>Testez votre projet en continu et brique par brique</h2>
        <p>Décomposer votre projet en brique élémentaires</p>
        <p>Déploiement continu des briques de développement</p>
      </div>
    </div>
  </div>

