<div id="container_process">
  <h1 id="title_process">PROCESS</h1>


  <div class="process-card">
    <h2>1. Rendez-vous de définition du besoin</h2><h3>2h - Gratuit</h3>
    <div class="process-detail">
      <p>Définition des fonctionnalités principales</p>
      <p>Conseil sur les technologies à utiliser</p>
      <p>Première estimation de devis</p>
    </div>
  </div>

  <div class="process-card">
    <h2>2. Formalisation du projet</h2><h3>2.5 jours - 700€</h3>
    <div class="process-detail">
      <p>Userflow: Pour chaque fonctionnalité, définition du cheminement utilisateur</p>
      <p>UX: Placement optimal des éléments sur la page</p>
      <p>Cahier des charges</p>
      <p>Architecture de la base de donnée</p>
      <p>Devis précis</p>
    </div>
  </div>

  <div class="process-card">
    <h2>3. Graphisme</h2><h3>En fonction du projet et de vos capacités internes</h3>
    <div class="process-detail">
      <p>Nous intégrons les éléments graphiques de votre équipe</p>
      <p>OU</p>
      <p>Nous prenons en charge la réalisation de ces éléments avant de les intégrer</p>
    </div>
  </div>

  <div class="process-card">
    <h2>4. Réalisation</h2><h3>En fonction du projet - 400€ HT</h3>
    <div class="process-detail">
      <p>Déploiement en continu du contenu réalisé</p>
      <p>Point hebdomadaire d'avancement</p>
      <p>Réalisation de la doc technique et commentaire du code</p>
    </div>
  </div>

  <div class="process-card">
    <h2>5. Test et validation client</h2>
  </div>

  <div class="process-card">
    <h2>6. Optimisation du code</h2><h3>En option</h3>
      <p>A déterminer en fonction de vos objectifs de croissance</p>
  </div>

  <div class="process-card">
    <h2>7. Maintenance</h2><h3>En option</h3>
  </div>


</div>
