<div class="full-height-page" id="title_process">
  <div class="container">

    <div class="row">
      <div class="col-xs-10 col-md-10 col-xs-offset-1">
        <div class="process">
          <h1>UN PROCESSUS CLAIR ET PRécis, Sans surprise</h1>

          <div class="process-card">
            <h2><img src="/images/cercle-arrow.png" alt="arrow down" width="15" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1" class="clickable process-essential">    1. Rendez-vous de définition du besoin<span class="highlight-2" > 2h - Gratuit</span></h2>

            <div class="collapse" id="collapse1">
              <div class="process-detail">
                <p><i class="fa fa-check" aria-hidden="true"></i>  Définition des fonctionnalités principales</p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  Conseil sur les technologies à utiliser</p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  Première estimation de devis</p>
              </div>
            </div>
          </div>

          <div class="process-card">
            <h2><img src="/images/cercle-arrow.png" alt="arrow down" width="15" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" class="clickable process-essential">    2. Formalisation du projet<span class="highlight-2"> 2.5 jours - 700€</span></h2>

            <div class="collapse" id="collapse2">
              <div class="process-detail">
                <p><i class="fa fa-check" aria-hidden="true"></i>  Userflow: Pour chaque fonctionnalité, définition du cheminement utilisateur</p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  UX: Placement optimal des éléments sur la page</p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  Cahier des charges</p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  Architecture de la base de données</p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  Devis précis pour la partie réalisation</p>
              </div>
            </div>
          </div>

          <div class="process-card">
            <h2 class="padding-left-19px">3. Adaptation du projet en fonction du retour client</h2>
          </div>

          <div class="process-card">
            <h2><img src="/images/cercle-arrow.png" alt="arrow down" width="15" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" class="clickable process-essential">    4. Graphisme<span class="highlight-2"> Coût en fonction du projet et de vos capacités internes</span></h2>

            <div class="collapse" id="collapse3">
              <div class="process-detail">
                <p><i class="fa fa-check" aria-hidden="true"></i>  Option #1: Nous intégrons les éléments graphiques de votre équipe</p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  Option #2: Nous prenons en charge la réalisation de ces éléments avant de les intégrer</p>
              </div>
            </div>
          </div>

          <div class="process-card">
            <h2><img src="/images/cercle-arrow.png" alt="arrow down" width="15" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" class="clickable process-essential">    5. Réalisation<span class="highlight-2"> Coût en fonction du projet - 400€ HT / jour-homme</span></h2>

            <div class="collapse" id="collapse4">
              <div class="process-detail">
                <p><i class="fa fa-check" aria-hidden="true"></i>  Déploiement en continu du contenu réalisé</p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  Point hebdomadaire d'avancement</p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  Réalisation de la documentation technique et commentaire du code</p>
              </div>
            </div>
          </div>

          <div class="process-card">
            <h2 class="padding-left-19px">6. Test et validation internes suivis d'une validation client</h2>
          </div>

          <div class="process-card">
            <h2 class="padding-left-19px process-option">
            7. Optimisation du code<span class="highlight-2"> En option</span></h2>

            <div class="collapse" id="collapse6">
              <div class="process-detail">

              </div>
            </div>
          </div>

          <div class="process-card">
            <h2 class="padding-left-19px process-option">8. Maintenance<span class="highlight-2"> En option</span></h2>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


