  <div class="">
    <div class="row">
      <div class="col-xs-9">
        <div class="process">
        <h1 id="title_process">UN PROCESSUS CLAIR ET PRécis, Sans surprise</h1>


        <div class="process-card">
          <h2><i data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="fa fa-plus-circle" aria-hidden="true"></i>    1. Rendez-vous de définition du besoin<span class="highlight-2" > 2h - Gratuit</span></h2>

          <div class="collapse" id="collapseExample">
            <div class="process-detail">
              <p>Définition des fonctionnalités principales</p>
              <p>Conseil sur les technologies à utiliser</p>
              <p>Première estimation de devis</p>
            </div>
          </div>
        </div>

        <div class="process-card">
          <h2>2. Formalisation du projet<span class="highlight-2"> 2.5 jours - 700€</span></h2>
          <div class="process-detail">
            <p>Userflow: Pour chaque fonctionnalité, définition du cheminement utilisateur</p>
            <p>UX: Placement optimal des éléments sur la page</p>
            <p>Cahier des charges</p>
            <p>Architecture de la base de donnée</p>
            <p>Devis précis</p>
          </div>
        </div>

        <div class="process-card">
          <h2>3. Graphisme<span class="highlight-2"> En fonction du projet et de vos capacités internes</span></h2>
          <div class="process-detail">
            <p>Nous intégrons les éléments graphiques de votre équipe</p>
            <p>OU</p>
            <p>Nous prenons en charge la réalisation de ces éléments avant de les intégrer</p>
          </div>
        </div>

        <div class="process-card">
          <h2>4. Réalisation<span class="highlight-2"> En fonction du projet - 400€ HT</span></h2>
          <div class="process-detail">
            <p>Déploiement en continu du contenu réalisé</p>
            <p>Point hebdomadaire d'avancement</p>
            <p>Réalisation de la doc technique et commentaire du code</p>
          </div>
        </div>

        <div class="process-card">
          <h2>5. Test et validation client</h2>
        </div>

        <div class="process-card">
          <h2>6. Optimisation du code<span class="highlight-2"> En option</span></h2>
            <p>A déterminer en fonction de vos objectifs de croissance</p>
        </div>

        <div class="process-card">
          <h2>7. Maintenance<span class="highlight-2"> En option</span></h2>
        </div>


  </div>
  </div>
  </div>
  </div>
