<div class="container-solution">
  <div class="row">
    <div class="col-xs-12 col-md-2 col-md-offset-2">
      <h1 id="title_solution">SOLUTION</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2 col-md-offset-3">
      <div class="card-solution">
        <p>Ensemble, définition précise de votre projet</p>
      </div>
    </div>

    <div class="col-md-2">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>

    <div class="col-xs-12 col-md-2">
      <div class="card-solution">
        <p>Accompagnement dans la réalisation de votre projet.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-4">
      <p class= "btn btn-danger"><%= link_to "Définissons ensemble votre besoin - rdv 2h gratuit", "#" %></p>
    </div>
  </div>
</div>
