<div class="full-height-page" id="title_solution">
    <div class="row">
      <div class="col-xs-9">
        <div class="solution">
          <h1>Solid projects start </br>with
          a good discussion</h1>

          <p>80% OF WEB DEVELOPMENT PROJECTS FAIL BECAUSE OF POOR PROJECT DEFINITION.</p>

          <p>TOUS NOS PROJETS COMMENCENT AUTOUR D’UN CAFÉ, TEMPS AU COURS DUQUEL
          NOUS <span class="highlight">DÉFINISSONS ENSEMBLE LES BESOINS DE VOTRE PROJET.</span></p>

          <p>PAR LA SUITE, NOUS CONTINUONS A VOUS ACCOMPAGNER PAS À PAS ET <span class="highlight">RÉALISONS
          VOTRE PROJET.</span></p>

          <h2>RENCONTRONS NOUS AUTOUR D’UN CAFÉ</h2>

          <p class= "btn btn-primary"><%= link_to "PRENEZ RDV - 2H, GRATUIT", "#" %></p>
        </div>
      </div>
    </div>
  </div>
