.highlight{
    color: $highlight-color-1;
}

h2{
  color: $highlight-color-1;
}

.landingpage{
  h1{
    font-size: 130px;
  }
  h2{
    font-size: 19px;
    font-family: $font-family-sans-serif;
    color: $main-text-color;
  }
}

.full-height-page{
  display: flex;
  align-items: center;

  height: 100vh;
}

.horizontal-center{
  justify-content: center;
}

.container-padding { //impossible to change bootstrap padding for container-fluid
  padding-left: 100px;
  padding-right: 100px;
}
