$breakpoints: (
  'small': 200px,
  'medium': 900px,
  'large': 1200px
);

.highlight{
    color: $highlight-color-1;
}


.uppercasing{

  @media (min-width: $screen-md-min) {
    p{
      text-transform: uppercase;
    }
  }

}





h1{
  margin-bottom: 35px;
}
h2{
  color: $highlight-color-1;
}

h3{
  color: $highlight-color-2;
}

.highlight-2{
  color:$highlight-color-2;
}



.landingpage{


  h1{
    font-size: 80px;
    text-transform: uppercase;
  }
  h2{
    font-size: 10px;



    padding-left: 6px; //magic number: to align h1 & h2
    font-family: $font-family-sans-serif;
    color: $main-text-color;
    text-transform: uppercase;
  }

  .btn{
    margin-top:31px;
  }
}

br {
   display: block;

}

.landingpage{
  // In the landing page, titles have been defined to resize automatically with font-size: 4.3vw;
  @media (min-width: 0) and (max-width: $screen-md-min) {
     // p{background-color: red;}
     .device-large{display:none;}
     .device-small{display:block;}

     h1{
      padding-top: 20px;
       font-size: 110px; //font-size: 25vw;
     }
     h2{
       font-size: 19px; //font-size: 4.3vw;
       text-transform: uppercase;

     }
  }

  @media (min-width: $screen-md-min) {
    // p{background-color: green;}
    h1{
      font-size: 130px; font-size: 9vw;
    }
    h2{
      font-size: 19px; font-size: 1.3vw;
      text-transform: uppercase;

      //if the tag lang = fr, then...
      html[lang="fr"] & {
          font-size: 14px; font-size: 1.2vw;
       }
    }
    .device-large{display:block;}
    .device-small{display:none;}

    .btn{
      text-transform: uppercase;
    }
  }

}


.animate{
  // In the landing page, titles have been defined to resize automatically with font-size: 4.3vw;
  @media (min-width: 0px) {
     p{background-color: red;}
     .device-large{display:none;}
     .device-small{display:block;}
     padding-top: 20px;
  }

  @media (min-width: $screen-md-min) {
    p{background-color: blue;}
    .device-large{display:block;}
    .device-small{display:none;}
  }

}

.btn-solution{
  br{
    font-size: 20%;
  }
}


.footer-navbar-container{

  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */
  .device-large{display:none;}
  .device-small{display:block;}

  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-md-min) {
    .device-large{display:block;}
    .device-small{display:none;}
    background-color: $navbar-footer-color;
    padding-bottom:2px;
  }
}
//   /* Medium devices (desktops, 992px and up) */
//   @media (min-width: @screen-md-min) { }

//   /* Large devices (large desktops, 1200px and up) */
//   @media (min-width: @screen-lg-min) { }
// }




//Landing page

canvas {
  vertical-align: top;

  position:fixed;
  top:0;
  left:0;
  z-index:1;

  display: inline-block;
}

// #contenu {

//   //position: fixed; top: 0; left: 0;
//   position:relative;
//   z-index:2;
// }

#animate{


  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

// #home-sketch-frame{
//   pointer-events: auto;
//   width: 200px;
//   height: 200px;
//   position: relative;
//   top: 0px;
//   left: 0px;
//   z-index: -2
// }

//

.solution{

  h2{
    margin-top: 35px;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    font-size: 20px;

  }
  .btn{
    margin-top:4px;
  }
}

.full-height-page{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 10px;
  min-height: 100vh;
}

.half-height-page{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 10px;
  min-height: 50vh;
}

.horizontal-center{
  justify-content: center;
}

.container-padding { //impossible to change bootstrap padding for container-fluid
  padding:0px;
}

.process-detail{
  padding-left: 30px;
}

.no-btn-decoration{
  margin      : 0;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border      : 0;
  background  : transparent;
  font-family : $base-font;
  cursor      : pointer;
}
.no-btn-decoration-mobile{
  padding-left: 5px;
  font-size: 12px;
  color: black;
}



.center {
  justify-content: center;
}

.navbar-fixed{
  color: white;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
}

.btn{
  font-weight: 700;
}

.footer-navbar-container{

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  font-weight: 700;
  font-size   : 0.8em;
}
.footer{
  padding-top: 10px;
}

.clickable{
  cursor      : pointer;
}

.process-option{
  color:$highlight-color-1-lighter;
}

.background-color-strong{
  background-color: $background-color-strong;

  h2{
    color:$highlight-color-strong;
  }
}

.highlight-color-strong{
  color: $highlight-color-strong;
}

.red-block{
  background-color: red;
}

.translation_missing{
  background-color: red;
}

// .flex-item{
//   flex: 0 0 20%;
// }

.flexbox{
  display: flex;
  justify-content: space-between;
}
.picto-center{
  flex: 0 0 20%;
}
// .text-justify {
//   text-align: justify;
// }

.flex-end{
  display: flex;
  justify-content: flex-end;
}

// .flex-start {
//   justify-content: flex-start;
// }

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.in-line{
  display:inline-block;
}

// .flex-container{
//   align-items: center;
// }

.dropdown{
  font-size:15px;
}

.no-btn-decoration-language{
  margin      : 0;
  border      : 3px;
  background-color  : transparent;
  font-family : $base-font;
  cursor      : pointer;
  color: $background-color-strong;
  padding-left: 20px;
}

.navbar-bottom{
  display: flex;
  align-items: flex-end;
}

.navbar-container{
  position: relative;
}


.navbar-right{
  position: absolute;
  bottom: 5px;
  right: 0;
}

.navbar-scrolable-mobile{

}

.logo-mobile{
  display: block;
  position: absolute;
  z-index: 3;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)

}

.dropdown-language{
  position: absolute;
  z-index: 3;
}

.about-content{
  text-align: center;
  img{
    border-radius: 50%;
    width:60%;
    height: auto;
  }
  .uppercasing{
    padding-top: 20px;
    text-transform: uppercase;
  }
}

.tiny_font{
  font-size: 12px;
}


.padding-10{
  padding-bottom:10px;
}
